<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>575091516497-1asi2sncjdkpo543u9s04dfa0i9nq520.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575091516497-1asi2sncjdkpo543u9s04dfa0i9nq520</string>
	<key>API_KEY</key>
	<string>AIzaSyAvDI0yC9Rt17qEnAnsjC1f3lLuASQBOtk</string>
	<key>GCM_SENDER_ID</key>
	<string>575091516497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mikkomario.MobileAppDemo</string>
	<key>PROJECT_ID</key>
	<string>pokefinder-3cea7</string>
	<key>STORAGE_BUCKET</key>
	<string>pokefinder-3cea7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:575091516497:ios:4396ab9aa982571e</string>
	<key>DATABASE_URL</key>
	<string>https://pokefinder-3cea7.firebaseio.com</string>
</dict>
</plist>